 .u-section-1 {
  background-image: url("images/685603373-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 182px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 189px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 57px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  font-size: 1.25rem;
  margin: 20px auto 44px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 140px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    font-size: 1.125rem;
    margin-bottom: 30px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 189px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 57px auto 0;
}

.u-section-3 .u-social-icons-1 {
  height: 40px;
  min-height: 16px;
  width: 239px;
  min-width: 120px;
  margin: 19px 449px 40px auto;
}

.u-section-3 .u-icon-1 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-3 .u-icon-2 {
  height: 0;
}

.u-section-3 .u-icon-3 {
  height: 0;
}

.u-section-3 .u-icon-4 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-3 .u-icon-5 {
  height: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-social-icons-1 {
    width: 240px;
    margin-top: 14px;
    margin-right: auto;
    margin-bottom: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-social-icons-1 {
    width: 239px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-social-icons-1 {
    height: 35px;
    width: 216px;
    margin-top: 21px;
    margin-bottom: 43px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 189px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 57px auto 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  font-size: 1.25rem;
  margin: 20px auto 43px;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 161px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    font-size: 1.125rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 190px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  margin: 57px auto 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  font-size: 1.25rem;
  margin: 20px auto 44px;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 163px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}